.form-horizontal {
    margin: 0 auto;
    width: 350px;
    padding: 30px 10px 10px 10px;
}

.form-horizontal .form-group, .form-horizontal .input-group {
    margin-top: 10px;
    text-align: center;
}

#reg-form input {
    width: 100%;
}

button {
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
}
div .input-group-addon {
    border: 1px solid #ddd;
    border-radius: 0;
}