<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customer" class="web.entity.Customer" scope="prototype"/>
    <bean id="employee" class="web.entity.Employee" scope="prototype"/>
    <bean id="item" class="web.entity.Item" scope="prototype"/>
    <bean id="order" class="web.entity.Order" scope="prototype"/>
    <bean id="product" class="web.entity.Product" scope="prototype"/>
    <bean id="user" class="web.entity.User" scope="prototype"/>
    <bean id="customer_account" class="web.entity.CustomerAccount" scope="prototype"/>
    <bean id="payment" class="web.entity.Payment" scope="prototype"/>
    <bean id="delivery" class="web.entity.Delivery" scope="prototype"/>
    <bean id="storage" class="web.entity.Storage" scope="prototype"/>
</beans>