.root {
    -fx-base: #333333;
    -fx-background-color: -fx-base;
    -fx-accent:  #004d99;
    -fx-focus-color: #99ccff;
    -fx-color: derive(-fx-base, 20%);

    -fx-dark-text-color: #1a1a1a;
    -fx-mid-text-color: #333;
    /*-fx-light-text-color: #e6e6e6;*/
    -fx-light-text-color: #bfbfbf;

    -fx-control-inner-background: derive(-fx-base, 40%);

}

.text-field {
    /*-fx-border-color: transparent;*/
    -fx-font-size: 14px;
}

.text-input:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.text-field:disabled {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-color: transparent;
    -fx-opacity: 1;
}

.combo-box:disabled, .combo-box:disabled > *, .combo-box .arrow:disabled, .date-picker:disabled, .date-picker .arrow-button:disabled, .date-picker .arrow:disabled {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-opacity: 1.0;
    -fx-font-size: 14px;
}

.combo-box {
    -fx-font-size: 14px;
}

.table-view, .table-view .column-header .label {
    -fx-font-size: 12px;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 1em;
    -fx-base: rgb(150,150,0);
}

.scroll-bar:horizontal {
    /*-fx-pref-width: 0em;*/
    /*-fx-max-width: 0em;*/
    -fx-padding: 0em;
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:0em;
}
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0em;
}
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-shape: "";
    -fx-padding:0;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color:transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 2em;
    -fx-padding:0px;

}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {

    -fx-background-color: rgb(70,70,70);
    -fx-background-insets: 0 4 0 4/*0 4 0 4*/;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(90,90,90);
}

.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(150,150,150);
}
/* "disable" increment, decrement buttons & arrows */
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0.1em;
}
.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-pref-width: 0cm;
    -fx-pref-height: 0cm;
}

.button {
    -fx-font-size: 14px;
}

.label {
    -fx-font-size: 14px;
}

/*
The disabled property cascades from a scene graph node to its child nodes,
so all the child nodes of the combo box effectively pick up their :disabled CSS styles.
So, for example, the Label displaying the selected item uses its disabled style,
which has opacity set to 0.4.
*/