.text-field {
    -fx-border-color: transparent;
    -fx-font-size: 14;
}

.text-field:disabled {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-color: transparent;
    -fx-opacity: 1;
}

.combo-box:disabled, .combo-box:disabled > *, .combo-box .arrow:disabled {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-opacity: 1.0;
    -fx-font-size: 14;
}

.combo-box {
    -fx-font-size: 14;
}

.table-view {
    -fx-font-size: 14;
}

.button {
    -fx-font-size: 14;
}

.label {
    -fx-font-size: 14;
}

/*
The disabled property cascades from a scene graph node to its child nodes,
so all the child nodes of the combo box effectively pick up their :disabled CSS styles.
So, for example, the Label displaying the selected item uses its disabled style,
which has opacity set to 0.4.
*/