.text-field {
    -fx-border-color: transparent;
    -fx-font-size: 14px;
}

.text-field:disabled {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-border-color: transparent;
    -fx-opacity: 1;
}

.combo-box:disabled, .combo-box:disabled > *, .combo-box .arrow:disabled, .date-picker:disabled, .date-picker .arrow-button:disabled, .date-picker .arrow:disabled {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-opacity: 1.0;
    -fx-font-size: 14px;
}

.combo-box {
    -fx-font-size: 14px;
}

.table-view, .table-view .column-header .label {
    -fx-font-size: 12px;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 1em;
}

.scroll-bar:horizontal {
    -fx-pref-width: 0em;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(200,200,200);
    -fx-background-insets: 0 4 0 4;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(150,150,150);
}

.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(100,100,100);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 5;
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: rgb(200,200,200);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: rgb(200,200,200);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}
.scroll-bar:vertical:focused {
    -fx-background-color: transparent,rgb(100,100,100),rgb(100,100,100);
}

.button {
    -fx-font-size: 14px;
}

.label {
    -fx-font-size: 14px;
}

/*
The disabled property cascades from a scene graph node to its child nodes,
so all the child nodes of the combo box effectively pick up their :disabled CSS styles.
So, for example, the Label displaying the selected item uses its disabled style,
which has opacity set to 0.4.
*/