.background {
    -fx-background-color: white;
}

.button {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.text-field {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.combo-box {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.Alert .header-panel {
    -fx-background-color: white;
}

.LoginPanel {
    -fx-border-color: darkgray;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}