.background {
    -fx-background-color: white;
}

.button {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.text-field {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.text-field:disabled {
    -fx-opacity: 0.7;
}

.combo-box {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-size: 14px;
}

.combo-box:disabled {
    -fx-opacity: 0.7;
    -fx-font-size: 14px;
}

.Alert .header-panel {
    -fx-background-color: white;
}

.LoginPanel {
    -fx-border-color: darkgray;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6) , 5, 0.0, 0, 1);
}

.scroll-bar:vertical {
    -fx-background-color: transparent, transparent, transparent;
    -fx-pref-width: 1em;
    -fx-base: rgb(150,150,0);
}

.scroll-bar:horizontal {
    /*-fx-pref-width: 0em;*/
    /*-fx-max-width: 0em;*/
    -fx-padding: 0em;
    -fx-background-color:transparent, transparent, transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:0em;
}
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0em;
}
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-shape: "";
    -fx-padding:0;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color:transparent, transparent, transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 2em;
    -fx-padding:0px;

}

.scroll-bar:vertical .track {
    -fx-background-color: transparent, transparent, transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(200,200,200);
    -fx-background-insets: 0 4 0 4/*0 4 0 4*/;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(150,150,150);
}

.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(100,100,100);
}
/* "disable" increment, decrement buttons & arrows */
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0.1em;
}
.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-pref-width: 0cm;
    -fx-pref-height: 0cm;
}
