.background {
    -fx-background-color: dimgray;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: cursive;
    -fx-text-fill: white;
}

.text-field {
    -fx-font-size: 11pt;
    -fx-font-family: cursive;
    -fx-text-fill: dimgray;
    -fx-border-radius: 0;
    -fx-border-color: white;
    -fx-border-width: 2 ;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button {
    -fx-border-color: white;
    -fx-border-width: 2;
    //-fx-border-radius: 20;
    //-fx-background-radius: 20;
    -fx-background-color: dimgray;
    -fx-font-size: 11pt;
    -fx-font-family: cursive;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: dimgray;
    -fx-text-fill: white;
}

.button:focused {
    -fx-border-color: black;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}